--
-- PostgreSQL database dump
--

\restrict O9kAlynefpogqu2CQBrZLtdI8VFG1Ecnvypn7W7z3WrPvGcQ5XE7mVBwEdHvCSX

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: StorageType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StorageType" AS ENUM (
    'box',
    'cabinet',
    'shelf',
    'table',
    'drawer',
    'locker',
    'workbench'
);


ALTER TYPE public."StorageType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Furniture; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Furniture" (
    "Id" integer NOT NULL,
    "RoomId" integer NOT NULL,
    "Type" integer NOT NULL,
    "X" integer NOT NULL,
    "Y" integer NOT NULL,
    "W" integer NOT NULL,
    "H" integer NOT NULL,
    "Rotation" integer NOT NULL,
    "Emoji" text NOT NULL,
    "Name" text
);


ALTER TABLE public."Furniture" OWNER TO postgres;

--
-- Name: Furniture_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Furniture_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Furniture_Id_seq" OWNER TO postgres;

--
-- Name: Furniture_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Furniture_Id_seq" OWNED BY public."Furniture"."Id";


--
-- Name: Item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Item" (
    id integer NOT NULL,
    "unitId" integer NOT NULL,
    name text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL
);


ALTER TABLE public."Item" OWNER TO postgres;

--
-- Name: Item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Item_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Item_id_seq" OWNER TO postgres;

--
-- Name: Item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Item_id_seq" OWNED BY public."Item".id;


--
-- Name: Items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Items" (
    "Id" integer NOT NULL,
    "FurnitureId" integer NOT NULL,
    "Name" text NOT NULL,
    "Quantity" integer NOT NULL
);


ALTER TABLE public."Items" OWNER TO postgres;

--
-- Name: Items_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Items_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Items_Id_seq" OWNER TO postgres;

--
-- Name: Items_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Items_Id_seq" OWNED BY public."Items"."Id";


--
-- Name: QALog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."QALog" (
    id integer NOT NULL,
    "userId" integer,
    action text NOT NULL,
    level text DEFAULT 'info'::text NOT NULL,
    details jsonb,
    ip text,
    "userAgent" text,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."QALog" OWNER TO postgres;

--
-- Name: QALog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."QALog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."QALog_id_seq" OWNER TO postgres;

--
-- Name: QALog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."QALog_id_seq" OWNED BY public."QALog".id;


--
-- Name: Room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Room" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    shape jsonb
);


ALTER TABLE public."Room" OWNER TO postgres;

--
-- Name: Room_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Room_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Room_id_seq" OWNER TO postgres;

--
-- Name: Room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Room_id_seq" OWNED BY public."Room".id;


--
-- Name: Rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rooms" (
    "Id" integer NOT NULL,
    "UserId" integer NOT NULL,
    "Name" text NOT NULL,
    "Shape" text DEFAULT '[]'::text NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."Rooms" OWNER TO postgres;

--
-- Name: Rooms_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Rooms_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Rooms_Id_seq" OWNER TO postgres;

--
-- Name: Rooms_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Rooms_Id_seq" OWNED BY public."Rooms"."Id";


--
-- Name: StorageUnit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StorageUnit" (
    id integer NOT NULL,
    "roomId" integer NOT NULL,
    type public."StorageType" NOT NULL,
    x integer NOT NULL,
    y integer NOT NULL,
    w integer NOT NULL,
    h integer NOT NULL,
    rotation integer DEFAULT 0 NOT NULL,
    emoji text NOT NULL,
    name text
);


ALTER TABLE public."StorageUnit" OWNER TO postgres;

--
-- Name: StorageUnit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."StorageUnit_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."StorageUnit_id_seq" OWNER TO postgres;

--
-- Name: StorageUnit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."StorageUnit_id_seq" OWNED BY public."StorageUnit".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" integer NOT NULL,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Name" text,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "UpdatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: Users_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Users_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Users_Id_seq" OWNER TO postgres;

--
-- Name: Users_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Users_Id_seq" OWNED BY public."Users"."Id";


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Furniture Id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Furniture" ALTER COLUMN "Id" SET DEFAULT nextval('public."Furniture_Id_seq"'::regclass);


--
-- Name: Item id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Item" ALTER COLUMN id SET DEFAULT nextval('public."Item_id_seq"'::regclass);


--
-- Name: Items Id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Items" ALTER COLUMN "Id" SET DEFAULT nextval('public."Items_Id_seq"'::regclass);


--
-- Name: QALog id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QALog" ALTER COLUMN id SET DEFAULT nextval('public."QALog_id_seq"'::regclass);


--
-- Name: Room id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Room" ALTER COLUMN id SET DEFAULT nextval('public."Room_id_seq"'::regclass);


--
-- Name: Rooms Id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rooms" ALTER COLUMN "Id" SET DEFAULT nextval('public."Rooms_Id_seq"'::regclass);


--
-- Name: StorageUnit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StorageUnit" ALTER COLUMN id SET DEFAULT nextval('public."StorageUnit_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Name: Users Id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users" ALTER COLUMN "Id" SET DEFAULT nextval('public."Users_Id_seq"'::regclass);


--
-- Data for Name: Furniture; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Furniture" ("Id", "RoomId", "Type", "X", "Y", "W", "H", "Rotation", "Emoji", "Name") FROM stdin;
\.


--
-- Data for Name: Item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Item" (id, "unitId", name, quantity) FROM stdin;
9	60	Esesda	4
\.


--
-- Data for Name: Items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Items" ("Id", "FurnitureId", "Name", "Quantity") FROM stdin;
\.


--
-- Data for Name: QALog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Room; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Room" (id, "userId", name, "createdAt", "updatedAt", shape) FROM stdin;
3	3	Minu tuba	2025-11-02 12:03:25.778	2025-11-04 08:05:18.586	[{"x": 120, "y": 120}, {"x": 240, "y": 119.625}, {"x": 239, "y": 83.625}, {"x": 349, "y": 84.625}, {"x": 352, "y": 122.625}, {"x": 680, "y": 120}, {"x": 680, "y": 480}, {"x": 120, "y": 480}]
1	1	Minu tuba	2025-10-31 10:23:46.735	2025-10-31 11:32:06.354	[{"x": 120, "y": 120}, {"x": 680, "y": 120}, {"x": 680, "y": 480}, {"x": 120, "y": 480}]
2	2	Minu tuba	2025-11-02 11:56:22.397	2025-11-02 11:56:22.397	\N
\.


--
-- Data for Name: Rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Rooms" ("Id", "UserId", "Name", "Shape", "CreatedAt", "UpdatedAt") FROM stdin;
1	1	Minu tuba	[{"x":120,"y":120},{"x":680,"y":120},{"x":680,"y":480},{"x":120,"y":480}]	2025-11-04 09:28:39.406176+00	2025-11-05 12:05:58.395352+00
\.


--
-- Data for Name: StorageUnit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StorageUnit" (id, "roomId", type, x, y, w, h, rotation, emoji, name) FROM stdin;
45	1	box	233	150	192	192	0	≡ƒôª	Kast
46	1	shelf	489	225	145	145	0	≡ƒ¬£	Riiul
47	2	box	100	100	56	56	0	≡ƒôª	Kast
48	2	table	200	180	56	56	0	≡ƒ¢ï∩╕Å	Laud
61	3	drawer	455	322	108	108	0	≡ƒùâ∩╕Å	Sahtel
60	3	cabinet	180	296	56	56	0	≡ƒùä∩╕Å	Kapp
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, "passwordHash", name, "createdAt", "updatedAt") FROM stdin;
1	test@gmail.com	$2a$10$4IiW5aKNobBeVMzOhgphB.ImHpesvZi/f1pB49bcFC0o4jZj6qwIO	oskar	2025-10-31 10:23:46.68	2025-10-31 10:23:46.68
2	demo@example.com	changeme-hash	Demo User	2025-11-02 11:56:22.383	2025-11-02 11:56:22.383
3	oskartest@gmail.com	$2a$10$H1wmqexLwMvyaTScHdmoCushIuFzjIh8UBtM9zUOR2Zm0YpMzor/2	oskartest123	2025-11-02 12:03:25.187	2025-11-02 12:03:25.187
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Users" ("Id", "Email", "PasswordHash", "Name", "CreatedAt", "UpdatedAt") FROM stdin;
1	oskartest2@gmail.com	$2a$10$UpQMhmy5WQdzv8IpUdx2Tep8hdDSeu7Y7haNJHvHaA6biYOj7uIFK	oskar	2025-11-04 09:28:39.223004+00	2025-11-04 09:28:39.223025+00
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
9fceeabe-ad9f-4eb3-bd35-c6c884499a1c	7d99ed40bb803f6c56da937099f584fc1f6116609ac1db539bde8a18c54f8e36	2025-10-30 17:47:12.12204+00	000_init	\N	\N	2025-10-30 17:47:12.093127+00	1
a6641e8f-d440-4b8f-bab5-baeb39e4f295	11f566e31f1292a307a372e1f2a9cbe90b07ec5c6aa9be7db687d591d6ffdb75	2025-10-30 17:47:12.125587+00	001_add_room_shape	\N	\N	2025-10-30 17:47:12.122682+00	1
\.


--
-- Name: Furniture_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Furniture_Id_seq"', 1, false);


--
-- Name: Item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Item_id_seq"', 9, true);


--
-- Name: Items_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Items_Id_seq"', 1, false);


--
-- Name: QALog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."QALog_id_seq"', 625, true);


--
-- Name: Room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Room_id_seq"', 3, true);


--
-- Name: Rooms_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Rooms_Id_seq"', 1, true);


--
-- Name: StorageUnit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."StorageUnit_id_seq"', 61, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 3, true);


--
-- Name: Users_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Users_Id_seq"', 1, true);


--
-- Name: Furniture Furniture_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Furniture"
    ADD CONSTRAINT "Furniture_pkey" PRIMARY KEY ("Id");


--
-- Name: Item Item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Item"
    ADD CONSTRAINT "Item_pkey" PRIMARY KEY (id);


--
-- Name: Items Items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Items"
    ADD CONSTRAINT "Items_pkey" PRIMARY KEY ("Id");


--
-- Name: QALog QALog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QALog"
    ADD CONSTRAINT "QALog_pkey" PRIMARY KEY (id);


--
-- Name: Room Room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Room"
    ADD CONSTRAINT "Room_pkey" PRIMARY KEY (id);


--
-- Name: Rooms Rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rooms"
    ADD CONSTRAINT "Rooms_pkey" PRIMARY KEY ("Id");


--
-- Name: StorageUnit StorageUnit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StorageUnit"
    ADD CONSTRAINT "StorageUnit_pkey" PRIMARY KEY (id);


--
-- Name: User User_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_email_key" UNIQUE (email);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Users Users_Email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_Email_key" UNIQUE ("Email");


--
-- Name: Users Users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_pkey" PRIMARY KEY ("Id");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Item_unit_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Item_unit_idx" ON public."Item" USING btree ("unitId");


--
-- Name: QALog_user_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "QALog_user_idx" ON public."QALog" USING btree ("userId");


--
-- Name: Room_user_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Room_user_idx" ON public."Room" USING btree ("userId");


--
-- Name: StorageUnit_room_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StorageUnit_room_idx" ON public."StorageUnit" USING btree ("roomId");


--
-- Name: Furniture Furniture_RoomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Furniture"
    ADD CONSTRAINT "Furniture_RoomId_fkey" FOREIGN KEY ("RoomId") REFERENCES public."Rooms"("Id") ON DELETE CASCADE;


--
-- Name: Item Item_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Item"
    ADD CONSTRAINT "Item_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public."StorageUnit"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Items Items_FurnitureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Items"
    ADD CONSTRAINT "Items_FurnitureId_fkey" FOREIGN KEY ("FurnitureId") REFERENCES public."Furniture"("Id") ON DELETE CASCADE;


--
-- Name: QALog QALog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QALog"
    ADD CONSTRAINT "QALog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Room Room_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Room"
    ADD CONSTRAINT "Room_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Rooms Rooms_UserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rooms"
    ADD CONSTRAINT "Rooms_UserId_fkey" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: StorageUnit StorageUnit_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StorageUnit"
    ADD CONSTRAINT "StorageUnit_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public."Room"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict O9kAlynefpogqu2CQBrZLtdI8VFG1Ecnvypn7W7z3WrPvGcQ5XE7mVBwEdHvCSX

